
  .groups-header{
    margin-bottom: 1.2rem;
    
  }
  .task-groups-inner {
    align-self: flex-start;
    max-height: 100vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .task-list-group{
    border: none !important;
    border-radius: 20px !important;
    flex : 1;
   overflow-y: auto;
   max-height: 100vh;
    padding: 0;
  }


  .list-group-item{
    border: none !important;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    padding: 5px 5px 5px 10px;
  }
  
  .active{
    background-color: #578E7E !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  
  .input-group{
    border-bottom: 2px solid rgba(0, 0, 0, 0.241) !important;
    border-top: 2px solid rgba(0, 0, 0, 0.241) !important;
  
    margin-bottom: 15px;
  }  
   .btn-task-group-add{
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    
   }
  
  .task-group-plus-icon{
    position: relative;
    display: flex;
    align-items: center;
    bottom: 3.5px;
    font-size: 2rem !important;
    color: #578e7e7b !important;
    transition: color 0.3s ease-in-out;
    
  
  }
  
   .task-group-plus-icon:hover{
      color: #578E7E !important;
   }
  
  .delete-btn {
    background: transparent;
    border: none;
    color: rgb(17, 201, 143);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }